body {
  background-image: url(/images/fondo.png);
}

/* PAGINA INICIO */
header {
  background-image: linear-gradient(to top, rgb(43, 11, 11), rgb(255, 188, 101));
  height: 150px;
  border-radius: 5px;
}
header h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 0);
}

nav .lista {
  list-style: none;
  padding: 0px;
  text-align: center;
}
nav .lista li {
  display: inline;
  margin-right: 10px;
  font-size: 22px;
}
nav .lista li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
nav .lista li a:hover {
  color: rgb(255, 188, 101);
}

div .subtitulo {
  text-align: center;
}
div .parrafo {
  text-align: center;
  font-size: 22px;
  color: rgb(43, 11, 11);
  font-family: sans-serif;
}

.articulos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articulos article {
  background-image: linear-gradient(to top, rgb(226, 226, 173), rgb(255, 188, 101));
  border: 2px solid rgb(255, 188, 101);
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
.articulos article p {
  flex-direction: column;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
}

footer {
  background-image: linear-gradient(to top, rgb(43, 11, 11), rgb(255, 188, 101));
  text-align: center;
}
footer p {
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
}
footer a {
  letter-spacing: 20px;
  font-size: 40px;
  color: rgb(0, 0, 0);
  margin: auto;
}
footer a:hover {
  color: rgb(255, 188, 101);
}

/* PAGINA SOBRE NOSOTROS */
.texto-carrusel {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-family: serif;
}

/* PAGINA DE SERVICIOS */
.texto-servicios {
  font-size: 24px;
  font-family: serif;
  color: rgb(43, 11, 11);
  background-image: linear-gradient(to top, rgb(226, 226, 173), rgb(255, 188, 101));
  margin: 20px;
  padding: 10px;
}

.cont-goldenrod {
  border-color: goldenrod;
  text-align: center;
  color: goldenrod;
  font-size: 24px;
}

.cont-sienna {
  border-color: sienna;
  text-align: center;
  color: sienna;
  font-size: 24px;
}

.cont-gold {
  border-color: gold;
  text-align: center;
  color: gold;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .texto-servicios {
    color: yellow;
  }
}
/* PAGINA DE UBICACION */
.ubication {
  background-image: linear-gradient(to top, rgb(226, 226, 173), rgb(255, 188, 101));
  text-align: center;
  color: rgb(43, 11, 11);
  font-size: 24px;
  font-family: sans-serif;
  border-radius: 5px;
  margin: 5px;
}

.map {
  text-align: center;
}

/* PAGINA DE CONTACTO */
.formulario {
  max-width: 500px;
  padding: 20px;
  margin: auto;
  border: 5px solid rgb(255, 188, 101);
  border-radius: 5px;
  background-image: linear-gradient(to top, rgb(226, 226, 173), rgb(255, 188, 101));
  color: rgb(43, 11, 11);
  font-family: sans-serif;
}

.subtitulo-contacto {
  text-align: center;
  color: rgb(43, 11, 11);
  font-family: serif;
}

p {
  color: rgb(43, 11, 11);
  font-size: 26px;
  text-align: center;
  font-family: serif;
}

.campo {
  margin-bottom: 15px;
}
.campo label {
  display: block;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
