.fondo {
    background-color: rgb(17, 5, 5)
}

/* PAGINA INICIO */

header {
    background-color:rgb(226, 226, 173);
    height: 150px;
    border-radius: 5px;
}

header h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.lista {
    list-style: none;
    padding: 0px;
    text-align: center;
}

li {
    display: inline;
    margin-right: 10px;
    font-size: 22px;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li a:hover {
    color: rgb(255, 188, 101);
}

.row {
    border: 2px solid rgb(255, 188, 101);
}

.subtitulo {
    text-align: center;
    color: aliceblue;
}

.parrafo {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
}

.articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulos article {
    background-color: rgb(17, 5, 5);
    border: 2px solid rgb(255, 188, 101);
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.articulos article p {
    flex-direction: column;
    font-size: 20px;
    color: aliceblue;
}

footer {
    background-color: rgb(226, 226, 173);
    text-align: center;
}

footer p {
    font-size: 22px;
    text-align: center;
    color: rgb(0, 0, 0)
}

footer a {
    letter-spacing: 20px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: auto;
}

footer a:hover {
    color:rgb(255, 188, 101) ;
}

/* PAGINA SOBRE NOSOTROS */

.texto-carrusel {
    font-size: 24px;
    color: aliceblue;
}

/* PAGINA DE SERVICIOS */

.texto-servicios {
    font-size: 24px;
    color: aliceblue;
}


@media only screen and (max-width: 768px){
    .texto-servicios {
        color: yellow;
    }
}

/* PAGINA DE UBICACION */

.ubication {
    background-color: rgb(226, 226, 173);
    text-align: center;
    border: solid 10px black;
    color: black;
    font-size: 36px;
    border-radius: 5px;
    margin: 5px;
}

.map {
    text-align: center;
}

@media only screen and (max-width: 768px){   
    .ubication {
        background-color: rgb(17, 5, 5);
        color: yellow;
    }
}

/* PAGINA DE CONTACTO */

.formulario {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border: 5px solid #000000;
    border-radius: 5px;
    background-color:rgb(226, 226, 173);
    color:black;
}

.subtitulo-contacto {
    text-align: center;
    color: aliceblue;
}

p {
    color:aliceblue;
    font-size: 26px;
    text-align: center;
}
.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    font-weight: bold;
}
