// ALTURA
$alturaheader: 150px;

// ANCHO
$mediaquerieswidth: 768px;

// FONTS
$font1: serif;
$font2: sans-serif;

// COLORES
$color1:rgb(226, 226, 173);
$color2:rgb(255, 188, 101);
$color3:rgb(43, 11, 11);
$color4:rgb(255, 255, 255);
$color5:rgb(0, 0, 0);
$color6:yellow;

// TAMAÑOTEXTO
$fontsizeh1:60px;
$fontsize1:24px;
$fontsize2:22px;
$fontsize3:20px;

body {
    background-image: url(/images/fondo.png);
}

/* PAGINA INICIO */

header {
    background-image: linear-gradient(to top, $color3, $color2);
    height: $alturaheader;
    border-radius: 5px;
    h1 {
        text-align: center;
        font-size: $fontsizeh1;
        color:$color5;
    }
}
nav {
    .lista {
        list-style: none;
        padding: 0px;
        text-align: center;
        li {
            display: inline;
            margin-right: 10px;
            font-size: $fontsize2;
            a {
                text-decoration: none;
                color: $color5;
            }
            a:hover {
            color:$color2;
            }
        }
    }
}
div {
    .subtitulo {
        text-align: center;
    }
    .parrafo {
        text-align: center;
        font-size: $fontsize2;
        color: $color3;
        font-family: $font2;
    }
}
.articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    article {
        background-image: linear-gradient(to top, $color1, $color2);
        border: 2px solid $color3;
        margin: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        p {
            flex-direction: column;
            font-size: $fontsize3;
            color: $color5;
            font-family: $font2;
        }
    }
}
footer {
    background-image: linear-gradient(to top, $color3, $color2);
    text-align: center;
    p{
        font-size: $fontsize2;
        text-align: center;
        color: rgb(0, 0, 0)
    }
    a {
    letter-spacing: 20px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: auto;
    }
    a:hover {
    color:$color2;
    }
}
/* PAGINA SOBRE NOSOTROS */

.texto-carrusel {
    font-size: $fontsize1;
    color: $color4;
    font-family: $font1;
}
/* PAGINA DE SERVICIOS */

.texto-servicios {
    font-size: $fontsize1;
    font-family: $font1;
    color: $color3;
    background-image: linear-gradient(to top, $color1, $color2);
    margin: 20px;
    padding: 10px;
}

.cont-gold
.cont-goldenrod
.cont-sienna {     
}

@each $colores in goldenrod, sienna, gold {
    .cont-#{$colores} {
        border-color: $colores;
        text-align: center;
        color: $colores;
        font-size: $fontsize1;
    }
}

.parrafo-servicios {
    font-size: $fontsize2;
    color: $color3;
    font-family: $font1;
}

@media only screen and (max-width: $mediaquerieswidth){
    .texto-servicios {
        color: $color6;
    }
}
/* PAGINA DE UBICACION */

.ubication {
    background-image: linear-gradient(to top, $color1, $color2);
    text-align: center;
    color: $color3;
    font-size: $fontsize1;
    font-family: $font2;
    border-radius: 5px;
    margin: 5px;
}
.map {
    text-align: center;
}
.box {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20%;
    .box1 {
        border: 5px solid $color2;
        margin: 10px;
        margin-right:10px;
    }
    .box2 {
        border: 5px solid $color2;
    }
}
@mixin tamaño ($height, $width,$bradius) {
    height: $height;
    width: $width;
    border-radius:$bradius;
}
.box1 {
    @include tamaño(350px,500px ,10px);
}
.box2 {
    @include tamaño(350px,500px ,10px )
}


/* PAGINA DE CONTACTO */

.formulario {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border: 5px solid $color2;
    border-radius: 5px;
    background-image: linear-gradient(to top, $color1, $color2);
    color:$color3;
    font-family: $font2;
}
.subtitulo-contacto {
    text-align: center;
    color: $color3;
    font-family: $font1;
}

p {
    color:$color3;
    font-size: 26px;
    text-align: center;
    font-family: $font1;
}
.campo {
    margin-bottom: 15px;
    label {
    display: block;
    font-weight: bold;
    }
}